--extra-index-url https://cosmo-pypi.phys.ethz.ch/simple/
Sphinx>=1.2.3
coverage>=3.7.1
flake8>=2.2.4
mock>=1.0.1
numpy>=1.9.2
pytest>=2.6.3
pytest-cov>=1.8.0
sympy>=0.7.5
matplotlib
Cython

# only needed for createing docs with Python 3
scipy; python_version >= '3'
jupyter; python_version >= '3'
numba; python_version >= '3'
numexpr; python_version >= '3'
version_information; python_version >= '3'
sphinx-pynpoint-theme; python_version >= '3'
